<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <title>Document</title>
</head>
<body class="collapsed">
    <% include navbar.ejs %>
    <div class="main">
        <div class="heading">
            <h2>Manage Products</h2>
        </div>
        <div class="products">
            <div class="elements">
                <input type="text" name="" id="searchInput" placeholder="Search Products">
                <div class="createbuttons">
                    <button id="Createcategory">Create Category</button>
                    <button id="addNewProductBtn">Add New Product</button>
                </div>
            </div>
            <div class="table">
                <div class="categorybox">
                    <p>Create Category</p>
                    <input type="text" id="Categoryinput" placeholder="Category Name"/><br>
                    <button id="Cancelbtn">Cancel</button>
                    <button id="entercategory">Add</button>
                </div>
                <div class="newProductBox">
                    <p>Add Product</p>
                    <div class="alloptions">
                        <div class="options">
                            <label for="">Product Name</label>
                            <input type="text" name="" id="productname" placeholder="Name">
                        </div>
                        <div class="options">
                            <label for="">Category</label>
                            <select name="" id="categoryname" >
                            <% categories.forEach(function(category){ %>
                                <option value=""><%= category.CATEGORY_NAME %></option>

                            <% }); %>
                                
                            </select>

                        </div>
                        <div class="options">
                            <label for="">SKU</label>
                            <input type="text" placeholder="SKU ID" id="sku">
                        </div>
                        <div class="options">
                            <label for="">Quantity</label>
                            <input type="number"  placeholder="Qty" min="1" id="qty">
                        </div>
                        <div class="options">
                            <label for="">Cost</label>
                            <input type="number"  placeholder="Cost" min="1" id="cost">
                        </div>
                        <div class="options">
                            <label for="">Price</label>
                            <input type="number"  placeholder="Price" min="1" id="price">
                        </div>
                        <div class="btndiv">
                            <button id="Cancelbtn2">Cancel</button>
                            <button id="addproduct">Add</button>

                        </div>
                    </div>


<!-- 
                    <label for="">SKU</label>
                    <label for="">Quantity</label>
                    <label for="">Cost</label>
                    <label for="">Price</label> -->
                    



                </div>
                <table id="#1">
                    <thead>
                        <tr>
                            <th id="productname">Product Name</th>
                            <th>Category</th>
                            <th>SKU</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="productTableBody">
                        <!-- <tr>
                            <td>Tomato</td>
                            <td>Food</td>
                            <td>SJ-101</td>
                            <td>85</td>
                            <td>45$</td>
                            <td>60$</td>
                            <td>
                                <button id="actionbtn">Edit</button>
                                <button id="actionbtn">Delete</button>
                            </td>
                        </tr> -->
                        <% results.forEach(function(product){ %>
                            <tr>
                                <td><%= product.PRODUCT_NAME %></td>
                                <td><%= product.CATEGORY_NAME %></td>
                                <td id="PRODUCT_ID"><%= product.PRODUCT_ID %></td>
                                <td><%= product.STOCK %></td>
                                <td><%= product.COST_PRICE %>$</td>
                                <td><%= product.SELLING_PRICE %>$</td>
                                <td>
                                    <button class="actionbtn">Edit</button>
                                    <button class="actionbtn" id="dltbtn">Delete</button>
                                </td>
                                

                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="notification">
                    <div class="notification__body">
                        <img
                            src="images/check-circle.svg"
                            alt="Success"
                            class="notification__icon"
                        >
                        <p id="notiP"></p> 
                    </div>
                    <div class="notification__progress"></div>
                </div>
            </div>

        </div>

    </div>
<script src="/javascripts/products.js">
</script>
</body>
</html>